html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#grid-container {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-color: red;
  border-width: 20px;
  font-size: 100px;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  border-width: 2px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

form { 
  position: absolute;
  background-color: white;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  height: 500px;
  width: 300px;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  margin-top: 40px;
  font-size: 20px;
}

input[type="text"] {
  padding: 16px;
  border-radius: 10px;
  font-size: 16px;
  margin: 10px 0px;
}

button:hover {
  cursor: pointer;
}

#close-btn {
  float: right;
  margin-right: 0.5rem;
  color: lightgray;
  font-size: 28px;
  font-weight: 900;
}

#close-btn:hover {
  cursor: pointer;
}

#submit-btn {
  color: white;
  background-color: rgb(94, 94, 197);
  width: 200px;
  height: 60px;
  border-radius: 5px;
  font-size: 36px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 50px 0px;
}